body{
    background-color: lightblue;
}
.header_div{
    background: white;
    color: red;
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 120px;
    font-weight: bold;
    box-shadow: 5px 5px 5px grey;
}
.copy_right_footer{
    background-color: white;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: plum;
    bottom: 0;
    text-shadow: 5px 5px 5px gray;
    position: fixed;
}
#animal_shown_label{
    margin-top: 20px;
}